<p id="notice"><%= notice %></p>

<h1>Listing Siteblurbs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Blurb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siteblurbs.each do |siteblurb| %>
      <tr>
        <td><%= siteblurb.name %></td>
        <td><%= siteblurb.blurb %></td>
        <td><%= link_to 'Show', siteblurb %></td>
        <td><%= link_to 'Edit', edit_siteblurb_path(siteblurb) %></td>
        <td><%= link_to 'Destroy', siteblurb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Siteblurb', new_siteblurb_path %>
