<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @siteblurb.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @siteblurb.blurb %>
</p>

<%= link_to 'Edit', edit_siteblurb_path(@siteblurb) %> |
<%= link_to 'Back', siteblurbs_path %>
