<p id="notice"><%= notice %></p>

<h1>Listing Searches</h1>

<table>
  <thead>
  <tr>
    <th>Search start</th>
    <th>Search end</th>
    <th>Manufacturer</th>
    <th>Car model</th>
    <th>Car year</th>
    <th>Recommended</th>
    <th>Search text</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @searches.each do |search| %>
      <tr>
        <td><%= search.search_start %></td>
        <td><%= search.search_end %></td>
        <td><%= search.manufacturer_id %></td>
        <td><%= search.car_model %></td>
        <td><%= search.car_year %></td>
        <td><%= search.recommended %></td>
        <td><%= search.search_text %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
