<div class="panel panel-default">
  <div class="panel-heading">
    Latest Customer Reviews
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% @latest_reviews.each do |review| %>
        <br>

        <div class="row">
          <% sumrate= (review.stars_ease + review.stars_quality + review.stars_price + review.stars_ontime + review.stars_attention) %>
          <% avgrate= sumrate / 5.0 %>

          <div class="col-md-3">
            <ul class="list-inline">
              <%= review.showstars(avgrate).html_safe %>

            </ul>
          </div>
          <div class="col-md-7">
            <%= review.service_date %>
            <br>
            Car: <strong><%= review.car_year %> <%= review.manufacturer.name %> <%= review.car_model %> </strong><br>
            Comment: <strong><%= review.review_note %></strong><br>
            <% if review.recommended == true %>
                <span style="color: blue; font-weight: bold">Recommended</span>
            <% else %>
                <span style="color: red; font-weight: bold">Not Recommended</span>
            <% end %>

          </div>
          <div class="col-md-2">
            <%= link_to "Details", review, :class => "btn btn-success btn-xs" %>
          </div>
          <hr>


        </div>


    <% end %>
  </div>

</div>
