<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Service date:</strong>
  <%= @review.service_date %>
</p>
<p>
  <strong>Email:</strong>
  <%= @review.email %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @review.manufacturer.name %>
</p>
<p>
  <strong>Car model:</strong>
  <%= @review.car_model %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @review.car_year %>
</p>

<p>
  <strong>Overall Rating</strong>
  <strong><%= @avgrate %></strong>
</p>

<table>
  <tr>
    <td>Overall Rating</td>
    <td>
      <ul class="list-inline">
        <%= @stars_summary_tag.html_safe %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>Ease</td>
    <td>
      <ul class="list-inline">
        <%= @stars_ease_tag.html_safe %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Quality</td>
    <td>
      <ul class="list-inline">
        <%= @stars_quality_tag.html_safe %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Price</td>
    <td>
      <ul class="list-inline">
        <%= @stars_price_tag.html_safe %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>On Time</td>
    <td>
      <ul class="list-inline">
        <%= @stars_attention_tag.html_safe %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Attention</td>
    <td>
      <ul class="list-inline">
        <%= @stars_ontime_tag.html_safe %>
      </ul>
    </td>
  </tr>
</table>

<p>
  <strong>Recommended:</strong>
  <%= @review.recommended %>
</p>








<p>
  <strong>Review note:</strong>
  <%= @review.review_note %>
</p>




<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
